@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');


*{
  box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #e9e9e9;
    border-radius: 8px;
}

body {
    margin: 0;
    background-color: rgb(234, 241, 241);
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    
}

header {
    height: 70px;
    background-color: #06163b;
    position: fixed;
    width: 100%;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 20px;
}

header a {
    color: aliceblue;
    text-decoration: none;
}

.page-container {
    min-height: 100vh;
    padding-top: 70px;
}
main {
    margin: 10px 10% 60px 220px;
    padding: 0px 25px;

}

aside {
    width: 190px;
    height: 100vh;
    position: fixed;
    background: linear-gradient(to bottom, #18243f, #30415d );
    padding-top: 10px;
    font-size: 20px;
}

aside a {
    display: block;
    color: aliceblue;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin-top: 35px;
}

aside a:hover {
    color: #e9bf01;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.5s ease;
}



.logo {
    margin-left: 5px;
    font-size: 26px;
   
}

p {
    line-height: 170%;
    border-left: 6px solid orange;
    padding-left: 10px;
}
.row {
    overflow: auto;
}

[class^=col-] {
    float: left;
    padding: 5px;

}

.col-10{ width: 10%;}
.col-20{ width: 20%;}
.col-30{ width: 30%;}
.col-40{ width: 40%;}
.col-50{ width: 50%;}

.col-60{ width: 60%;}
.col-70{ width: 70%;}
.col-80{ width: 80%;}
.col-90{ width: 90%;}
.col-100{ width: 100%;}

.title {
    border-bottom: 4px solid orange;
    margin-bottom: 5px;
    margin-top: 10px;
   display: inline-block;
}

.intro-video {
    display: block;
    max-height: 50vh;
    margin: 40px auto;
    max-width: 100%;
    border-radius: 10px;
   
}

.gallery {
    display: flex;
    justify-content: space-around;
margin-top: 40px;
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.3s;

}

.gallery img:hover {
    transform: scale(1.05);
    transition: all 0.3s;

}
.row-event {
    margin-top: 20px;
}

.event {
    padding: 0px 15px 15px 15px;
    background-color: #e9e9e9;
    border-radius: 5px;
    border: 1px solid orange;
    height: 250px;
    overflow-y: scroll;
    
}

.pad {
    padding: 15px;
}

#menu-btn {
    color: white;
    font-size: 28px;
    position: absolute;
    top: 22px;
    right: 25px;
    display: none;
}

.show {
    display: block !important;
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    [class^="col-"] {
        width: 100%;
    }

    main {
        margin: 0px;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    aside {
        display: none;

    }

    .gallery img {
        width: 130px;
        height: 130px;

    }

    #menu-btn {
        display: block;

    }


}

.contact-list {
    line-height: 200%;
    list-style: linear-gradient(orange, orange);
}

.map {
    width: 100%;
    max-width: 500px;
    height: 347px;
    border-radius: 5px;
    border: 2px solid orange;
}

.centered {
    text-align: center;
}

.contact-form {
    background-color: white;
    border-radius: 5px;
    border: 2px solid orange;
    margin-bottom: 15px;
    max-width: 500px;
    padding: 5px 15px 30px 15px;
}

.contact-form input, .contact-form textarea {
    display: block;
    width: 90%;
    margin: 15px auto 0px auto;
    resize: none;
    font-family: inherit;
    padding: 3px;
    font-size:16px;
}

.menu {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 25px;
}
.menu span {
    margin: 0 auto;
    position: relative;
    top: 12px;
}

.menu span:before, .menu span:after {
    position: absolute;
    content: '';
}
.menu span, .menu span:before, .menu span:after {
    width: 30px;
    height: 6px;
    background-color: #faf9f6;
    display: block;
}
.menu span:before {
    margin-top: -12px;
}
.menu span:after {
    margin-top: 12px;
}

/*Fake-Trigger*/
#sized {
    width:60px;
    height:50px;
    color:transparent;
    background-color: transparent;
    border: transparent;
}

/*Modal-Box*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding:0.5%;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 98vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background-color: #faf9f2;
}

.modal-header {
    padding: 2px 16px;
    background-color: #fcfbf5;
    border-bottom: none;
    height:35vh;
}

.modal-body {
    padding: 2px 16px;
    background-color: #f8f7ef;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #f7f5ef;
    color: black;
    border-top: none;
    text-align: center;
}

.modal-footer hr {
    margin-top: 20vh;
}

.modal-footer>p {
  color: #468966
}

.modal-footer h3 {
    text-transform: none;
    font-size:4vh;

}